* text=auto

*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ipynb text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.tif binary
*.tiff binary
*.avi binary
*.mov binary
*.mp4 binary
*.mkv binary
*.h5 binary
*.pt binary
*.pth binary
*.xlsx binary
*.pptx binary
